<h1>Directories#edit</h1>
<p>Find me in app/views/directories/edit.html.erb</p>

<div class="container">
<%= render 'form' %>

</div>

<div>
<%= link_to 'Back', @directory %>
<%= link_to 'Home', directories_path %>
</div>